@import "tailwindcss";

@layer base {
  body {
    @apply m-0 p-0 bg-slate-100 text-slate-800 antialiased font-sans;
    min-height: 100vh;
  }

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
